extends ./layout/index 

block slider 
    .slider     
        h1 Rio de Janeiro
        em aventura        

block contenido 
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu nulla in dui hendrerit egestas nec quis libero. Nulla in augue et dui aliquam mattis. Vestibulum pretium sem a dolor semper, ac eleifend sapien tincidunt. Integer mollis arcu sit amet tincidunt viverra. Duis a euismod ex. Nulla vestibulum quam turpis, non condimentum nisi vestibulum nec. Nam at lobortis dui. 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu nulla in dui hendrerit egestas nec quis libero. Nulla in augue et dui aliquam mattis. Vestibulum pretium sem a dolor semper, ac eleifend sapien tincidunt. Integer mollis arcu sit amet tincidunt viverra. Duis a euismod ex. Nulla vestibulum quam turpis, non condimentum nisi vestibulum nec. Nam at lobortis dui.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="nosotros", class="img-fluid")   
        include ./layout/bloque_viajes.pug