extends ./layout/index 

block contenido 
    main.container.mt-5
        .row
            .col-md-5
                img(src="/img/nosotros.jpg", alt="imagen sobre nosotros", class= "img-fluid")
            .col-md-7
                h1= pagina
                blockquote  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim incidunt hic expedita a labore quisquam voluptas assumenda, quod doloribus, at qui distinctio rerum quibusdam dolore. Quam deserunt esse consequuntur quis!
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptatibus error quae harum quis amet magnam reprehenderit modi, totam commodi, itaque dolores odio magni rem, optio impedit accusantium libero. Inventore.
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, exercitationem! Iure velit fugiat officia doloribus soluta odio molestiae. Expedita eius optio sunt fugiat eum ducimus magni laborum molestiae? Necessitatibus, nemo.
                
    .listado-iconos     
        .container.mt-5.py-5.text-center 
            .row    
                .col-md-4   
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias veritatis, aut laboriosam temporibus, facere officiis esse eum accusantium perspiciatis at magnam, enim molestias. Debitis, ducimus illum. Mollitia, eius vitae. Tempora?
                .col-md-4   
                    img(src="img/icono_destinos.svg", alt="icono destino", class="img-fluid mb-4")
                    h2.mb-4 Destino 
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias veritatis, aut laboriosam temporibus, facere officiis esse eum accusantium perspiciatis at magnam, enim molestias. Debitis, ducimus illum. Mollitia, eius vitae. Tempora?
                .col-md-4   
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias veritatis, aut laboriosam temporibus, facere officiis esse eum accusantium perspiciatis at magnam, enim molestias. Debitis, ducimus illum. Mollitia, eius vitae. Tempora?